In [1]:
#Dependancies
import pandas as pd

In [2]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
############ Start Analysis #############
#########################################
### calculate total number of players ### 
# use Unique?
unique_SN_ct = purchases_df["SN"].nunique()
unique_SN_ct
# End calculate total number of players #
#########################################

576

In [4]:
#######################################
##### Purchasing Analysis (Total) #####
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
unique_item

179

In [5]:
#* Average Purchase Price
average_price = purchases_df["Price"].mean()
round(average_price, 2)

3.05

In [30]:
#* Total Number of Purchases
ttl_purchases = len(purchases_df)
ttl_purchases

780

In [7]:
#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
ttl_rev
## End Purchasing Analysis (Total) ##
#####################################

2379.77

In [8]:
#############################
#### Gender Demographics ####
#group by gender
by_gender = purchases_df.groupby("Gender")
#count unique Screen names by gender
count_gender = by_gender.nunique()["SN"] 
#Calculate percentage
percent_gender = round(count_gender/unique_SN_ct*100,2)
#Format data frame
gender_demo_df = pd.DataFrame({"Gender Percentage":percent_gender, "Gender Count":count_gender})
gender_demo_df
## End Gender Demographics ##
#############################

                       Gender Percentage  Gender Count
Gender
Female                             14.06            81
Male                               84.03           484
Other / Non-Disclosed               1.91            11

In [9]:
#############################
#### Count gender totals ####
#* The below each broken by gender
# * Purchase Count
purchase_gender_ct = by_gender["Purchase ID"].count()
purchase_gender_ct

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [10]:
#  * Average Purchase Price
price_gender_avg = round(by_gender["Price"].mean(),2)
price_gender_avg

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [11]:
#  * Total Purchase Value
price_gender_ttl = by_gender["Price"].sum()
price_gender_ttl

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
#  * Average Purchase Total per Person by Gender
avg_purchase_gender = round(price_gender_ttl/count_gender,2)
avg_purchase_gender 
## End Count gender totals ##
#############################

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [26]:
##########################
#### Age Demographics ####
#What is the age range?
#Find oldest?
max_age = purchases_df["Age"].max()
max_age
#So the age range is from age 0 through 45

45

In [25]:
#Find oldest?
max_age = purchases_df["Age"].max()
max_age
#So the age range is from age 7 through 45

45

In [29]:
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Bins are &lt;10, 10-14, 15-19   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9]
# Create the names for the eight bins
age_range = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-50"]
purchases_df["Age Range"] = pd.cut(purchases_df["Age"], bins, labels=age_range, include_lowest=True)
#purchases_df

In [45]:
# * Purchase Count
by_age_range = purchases_df.groupby("Age Range")
#by_age_range.head()

In [47]:
#count unique Screen names by age range
count_age_range = by_age_range.nunique()["SN"]
count_age_range

Age Range
0-9       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40-44     11
45-50      1
Name: SN, dtype: int64

In [49]:
#  * Average Purchase Price
avg_age_range = round(by_age_range.mean()["Price"],2)
avg_age_range

Age Range
0-9      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40-44    3.04
45-50    1.70
Name: Price, dtype: float64

In [52]:
#  * Total Purchase Value
ttl_age_range = by_age_range["Price"].sum()
ttl_age_range

Age Range
0-9        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40-44      36.54
45-50       1.70
Name: Price, dtype: float64

In [56]:
#  * Average Purchase Total per Person by Age Group
ttlpurchase_age_range = round(ttl_age_range/count_age_range,2)
ttlpurchase_age_range
## End Age Demographics ##
##########################

Age Range
0-9      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40-44    3.32
45-50    1.70
dtype: float64

In [64]:
######################
#### Top Spenders ####
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#  * SN
#group by SN
by_SN = purchases_df.groupby("SN")

ttl_by_SN = by_SN.sum()["Price"]

SN_df = pd.DataFrame({"Total by Sceen Name":ttl_by_SN})

SN_df.nlargest(5, "Total by Sceen Name")
#Calculate percentage
#percent_gender = round(count_gender/unique_SN_ct*100,2)
#Format data frame
#gender_demo_df = pd.DataFrame({"Gender Percentage":percent_gender, "Gender Count":count_gender})
#gender_demo_df
## End Gender Demographics ##
#############################








#Count by SN
#ttl_by_SN = by_SN.sum()["Purchase ID"]

#avg_by_SN  = by_SN.mean()["Price"]}

#Sum total spent by
#ttl_by_SN = by_SN.sum()["Price"]
#ttl_by_SN

             Total by Sceen Name
SN
Lisosia93                  18.96
Idastidru52                15.45
Chamjask73                 13.83
Iral74                     13.62
Iskadarya95                13.10

In [58]:
# Top 5
ttl_b
ttl_by_SN
#df.nlargest(3, 'a')

TypeError: 'Series' object is not callable

In [ ]:
#***** delete
#############################
#### Gender Demographics ####

#count unique Screen names by gender
count_gender = by_gender.nunique()["SN"] 
#Calculate percentage
percent_gender = round(count_gender/unique_SN_ct*100,2)
#Format data frame
gender_demo_df = pd.DataFrame({"Gender Percentage":percent_gender, "Gender Count":count_gender})
gender_demo_df
## End Gender Demographics ##
#############################

In [ ]:
#  * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
## End Top Spenders ##
######################