In [1]:
#Dependancies
import pandas as pd

In [2]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
############ Start Analysis #############
#########################################
### calculate total number of players ### 
# use Unique?
unique_SN_ct = purchases_df["SN"].nunique()
unique_SN_ct
#########################################
#########################################

576

In [4]:
#######################################
##### Purchasing Analysis (Total) #####
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
unique_item

179

In [5]:
#* Average Purchase Price
average_price = purchases_df["Price"].mean()
round(average_price, 2)

3.05

In [6]:
#* Total Number of Purchases
#ttl_purchases = purchases_df["Purchase ID"].count()
#ttl_purchases

ttl_purchases = len(purchases_df)
ttl_purchases

780

In [7]:
#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
ttl_rev
########################################
########################################

2379.77

In [8]:
#############################
#### Gender Demographics ####
#group by gender
by_gender = purchases_df.groupby("Gender")
#count unique Screen names by gender
count_gender = by_gender.nunique()["SN"] 
#Calculate percentage
percent_gender = round(count_gender/unique_SN_ct*100,2)
#Format data frame
gender_demo_df = pd.DataFrame({"Gender Percentage":percent_gender, "Gender Count":count_gender})
gender_demo_df
#############################
#############################

                       Gender Percentage  Gender Count
Gender
Female                             14.06            81
Male                               84.03           484
Other / Non-Disclosed               1.91            11

In [9]:
#############################
#### Count gender totals ####
#* The below each broken by gender
# * Purchase Count
purchase_gender_ct = by_gender["Purchase ID"].count()
purchase_gender_ct

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [10]:
#  * Average Purchase Price
price_gender_avg = round(by_gender["Price"].mean(),2)
price_gender_avg

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [11]:
#  * Total Purchase Value
price_gender_ttl = by_gender["Price"].sum()
price_gender_ttl

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
#  * Average Purchase Total per Person by Gender
avg_purchase_gender = round(price_gender_ttl/count_gender,2)
avg_purchase_gender 
#############################
#############################

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [26]:
##########################
#### Age Demographics ####
#What is the age range?
#Find oldest?
max_age = purchases_df["Age"].max()
max_age
#So the age range is from age 0 through 45

45

In [25]:
#Find oldest?
max_age = purchases_df["Age"].max()
max_age
#So the age range is from age 7 through 45

45

In [28]:
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Bins are &lt;10, 10-14, 15-19   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 44.9, 49.9]
# Create the names for the eight bins
age_range = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-50"]
purchases_df["Age Range"] = pd.cut(purchases_df["Age"], bins, labels=age_range, include_lowest=True)
purchases_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,0-9
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [ ]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [0, 59.9, 69.9, 79.9, 89.9, 100]

# Create the names for the five bins
group_names = ["F", "D", "C", "B", "A"]

df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names, include_lowest=True)
df



# * Purchase Count
#  * Average Purchase Price
#  * Total Purchase Value
#  * Average Purchase Total per Person by Age Group