In [5]:
#Dependancies
import pandas as pd

In [6]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
#calculate total number of players 
# use Unique?
unique_SN = purchases_df["SN"].nunique()
unique_SN

576

In [12]:
### Purchasing Analysis (Total)
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
unique_item

#* Average Purchase Price
average_price = purchases_df["Price"].mean()
round(average_price, 2)

#* Total Number of Purchases
ttl_purchases = purchases_df["Purchase ID"].count()
ttl_purchases

#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
ttl_rev

2379.77

In [44]:
### Gender Demographics
#Count gender totals
count_gender_df = purchases_df["Gender"].value_counts().to_frame()
count_gender_df

#* Percentage and Count of Male Players
#count
male_count = count_gender_df.loc["Male", "Gender"]
male_count
#percent
male_percent = male_count/ttl_purchases*100 
round(male_percent, 2)

#* Percentage and Count of Female Players
female_count = count_gender_df.loc["Female", "Gender"]
female_count
#percent
female_percent = female_count/ttl_purchases*100 
round(female_percent, 2)


#* Percentage and Count of Other / Non-Disclosed
ND_count = count_gender_df.loc["Other / Non-Disclosed", "Gender"]
ND_count
#percent
ND_percent = ND_count/ttl_purchases*100 
round(ND_percent, 2)

1.92

In [31]:
count_gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [33]:
ttl_purchases

780