In [1]:
#Dependancies
import pandas as pd

In [2]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

    Display the total number of players

In [3]:
############ Start Analysis #############
#########################################
#########################################
### calculate total number of players ### 
# use Unique?
unique_SN_ct = purchases_df["SN"].nunique()
#unique_SN_ct
player_ct_df = pd.DataFrame({"Total Players":[unique_SN_ct]})
player_ct_df

# End calculate total number of players #
#########################################

   Total Players
0            576

Purchasing Analysis (Total)

    Run basic calculations to obtain number of unique items, average price, etc.
    Create a summary data frame to hold the results
    Optional: give the displayed data cleaner formatting
    Display the summary data frame

In [5]:
#######################################
##### Purchasing Analysis (Total) #####
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
#unique_item

In [6]:
#* Average Purchase Price
average_price = round(purchases_df["Price"].mean(), 2)
#average_price

In [7]:
#* Total Number of Purchases
ttl_purchases = len(purchases_df)
#ttl_purchases

In [8]:
#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
#ttl_rev

In [9]:
unique_items_df = pd.DataFrame({"Number of Unique Items":[unique_item],
                                "Average Price":[average_price],
                                "Number of Purchases":[ttl_purchases],
                                "Total Revenue":[ttl_rev]
                               })

unique_items_df.style.format({"Total Revenue":"${:,.2f}", "Average Price":"${:,.2f}"})                              
## End Purchasing Analysis (Total) ##
#####################################

In [13]:
#############################
#### Gender Demographics ####
#group by gender
by_gender = purchases_df.groupby("Gender")
#count unique Screen names by gender
count_gender = by_gender.nunique()["SN"] 
#count_gender

In [14]:
#Calculate percentage
percent_gender = round(count_gender/unique_SN_ct*100,2)
#percent_gender

In [15]:
#Format data frame
gender_demo_df = pd.DataFrame({"Total Count":count_gender, "Percentage of Players":percent_gender})
sorted_gender_demo_df = gender_demo_df.sort_values(by="Total Count", ascending=False)
sorted_gender_demo_df
sorted_gender_demo_df.style.format({"Percentage of Players":"{:,.2f}%"})
## End Gender Demographics ##
#############################

In [16]:
#############################
#### Count gender totals ####
#* The below each broken by gender
# * Purchase Count
purchase_gender_ct = by_gender["Purchase ID"].count()
#purchase_gender_ct

In [17]:
#  * Average Purchase Price
price_gender_avg = round(by_gender["Price"].mean(),2)
#price_gender_avg

In [18]:
#  * Total Purchase Value
price_gender_ttl = by_gender["Price"].sum()
#price_gender_ttl

In [19]:
#  * Average Purchase Total per Person by Gender
avg_purchase_gender = round(price_gender_ttl/count_gender,2)
#avg_purchase_gender

In [20]:
#Format data frame
purchase_gender_df = pd.DataFrame({"Purchase Count":purchase_gender_ct, 
                                   "Average Purchase Price":price_gender_avg, 
                                   "Total Purchase Value":price_gender_ttl, 
                                   "Avg Total Purchase per Person":avg_purchase_gender})
sorted_purchase_gender_df = purchase_gender_df.sort_values(by="Purchase Count", ascending=False)
sorted_purchase_gender_df.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}",
                                 "Avg Total Purchase per Person":"${:,.2f}"})
## End Count gender totals ##
#############################

In [ ]:
##########################
#### Age Demographics ####
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#Bins are &lt;10, 10-14, 15-19   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99]
# Create the names for the eight bins
age_range = ["0-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchases_df["Age Range"] = pd.cut(purchases_df["Age"], bins, labels=age_range, include_lowest=True)
#purchases_df

In [ ]:
# * Purchase Count
by_age_range = purchases_df.groupby("Age Range")
#by_age_range.head()

In [ ]:
#count Purchases by age range
count_age_range = by_age_range.count()["SN"]
#count_age_range

In [ ]:
#count Purchases by Screen name and age range
unique_count_age_range = by_age_range.nunique()["SN"]
#count Purchases by age range
count_age_range = by_age_range.count()["SN"]
#count_age_range

In [ ]:
#Percent each age range
percent_age_range = round(count_age_range/unique_SN_ct*100,2)
#percent_age_range

In [ ]:
#Format data frame
age_df = pd.DataFrame({"Total Count":count_age_range, 
                        "Percentage of Players":percent_age_range})
age_df.style.format({"Percentage of Players":"{:,.2f}%"})

In [ ]:
#  * Average Purchase Price
avg_age_range = round(by_age_range.mean()["Price"],2)
#avg_age_range

In [ ]:
#  * Total Purchase Value
ttl_age_range = by_age_range["Price"].sum()
#ttl_age_range

In [ ]:
#Average Per person
avg_per_person = round(ttl_age_range/count_age_range,2)
#avg_per_person

In [ ]:
#Format data frame
age_demo_df = pd.DataFrame({"Purchase Count":count_age_range, 
                            "Average Purchase Price":avg_age_range,
                            "Total Purchase Value":ttl_age_range,
                            "Avg Total Purchase per Person":avg_per_person})
age_demo_df.style.format({"Average Purchase Price":"{:,.2f}%", 
                          "Total Purchase Value":"${:,.2f}", 
                          "Avg Total Purchase per Person":"${:,.2f}"})
## End Age Demographics ##
##########################

In [ ]:
######################
#### Top Spenders ####
#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#  * SN
#group by SN
by_SN = purchases_df.groupby("SN")
by_SN

In [ ]:
#Total purchases by screen name
ttl_by_SN = by_SN.sum()["Price"]
#ttl_by_SN

In [ ]:
#Count number of purchases
ttl_purchases_SN = by_SN.count()["Purchase ID"]
#ttl_purchases_SN

In [ ]:
#  * Average Purchase Price
avg_by_SN = round(by_SN.mean()["Price"],2)
#avg_by_SN

In [ ]:
#Created Data Frame
SN_df = pd.DataFrame({"Purchase Count":ttl_purchases_SN,
                     "Average Purchase Price":avg_by_SN,
                     "Total Purchase Value":ttl_by_SN})
#SN_df

In [ ]:
#Find 5 largest total value
largest_SN_df = SN_df.nlargest(5, "Total Purchase Value")
largest_SN_df
## End Top Spenders ##
######################

In [ ]:
############################
#### Most popular items ####
#* Identify the 5 most popular items by purchase count, then list (in a table):
#group by Item
by_item_ID = purchases_df.groupby(["Item ID","Item Name"])
by_item_ID

In [ ]:
#Count how many of each item was sold
ct_item_sold = by_item_ID.count()["Price"]
#ct_item_sold

In [ ]:
total_value_item = by_item_ID.sum()["Price"]
#total_value_item

In [ ]:
by_item_price = round(total_value_item/ct_item_sold,2)
#by_item_price

In [ ]:
item_df = pd.DataFrame({"Purchase Count":ct_item_sold,
                      "Item Price":by_item_price, 
                      "Total Purchase Value":total_value_item})                       
#item_df

In [ ]:
#Top 5 Items
popular_item_df = item_df.nlargest(5, "Total Purchase Value")
popular_item_df
## End Most popular items ##
############################

In [ ]:
###############################
#### Most Profitable Items ####
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = popular_item_df.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
## End Most Profitable Items ##           
###############################