In [21]:
#Dependancies
import pandas as pd

In [22]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [23]:
#########################################
### calculate total number of players ### 
# use Unique?
unique_SN_ct = purchases_df["SN"].nunique()
unique_SN_ct
#########################################

576

In [24]:
#######################################
##### Purchasing Analysis (Total) #####
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
unique_item

179

In [25]:
#* Average Purchase Price
average_price = purchases_df["Price"].mean()
round(average_price, 2)

3.05

In [26]:
#* Total Number of Purchases
ttl_purchases = purchases_df["Purchase ID"].count()
ttl_purchases

780

In [27]:
#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
ttl_rev
### END: Purchasing Analysis (Total) ###
########################################

2379.77

In [31]:
#############################
#### Gender Demographics ####
#List of screen name 
#unique_SN_list = purchases_df["Item Name"].unique()
#unique_SN_list

In [37]:
#Count gender totals

df = purchases_df["SN", "Gender"]
df.head()

KeyError: ('SN', 'Gender')

In [ ]:
# Three Lists
indexes = [unique_SN_list]
######employees = ["Michael", "Dwight", "Meredith", "Kelly"]
#department = ["Boss", "Sales", "Sales", "HR"]

# Zip all three lists together into tuples
#####roster = zip(indexes, employees, department)








#count_gender_df = purchases_df["Gender"].value_counts().to_frame()
#count_gender_df