In [1]:
#Dependancies
import pandas as pd

In [2]:
#open csv file
# Store filepath in a variable
purchases = "Resources/purchase_data.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
purchases_df = pd.read_csv(purchases)
# Show just the header
purchases_df.head()
#review what data looks like

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#calculate total number of players 
# use Unique?
unique_SN = purchases_df["SN"].nunique()
unique_SN

576

In [21]:
### Purchasing Analysis (Total)
#* Number of Unique Items
unique_item = purchases_df["Item Name"].nunique()
unique_item

#* Average Purchase Price
average_price = purchases_df["Price"].mean()
round(average_price, 2)

#* Total Number of Purchases
ttl_purchases = purchases_df["Purchase ID"].count()
ttl_purchases

#* Total Revenue
ttl_rev = purchases_df["Price"].sum()
ttl_rev
unique_item

179

In [17]:
### Gender Demographics
#Count gender totals
#this is not right
#get rid of duplicates





count_gender_df = purchases_df["Gender"].value_counts().to_frame()
count_gender_df

#* Percentage and Count of Male Players
#count
male_count = count_gender_df.loc["Male", "Gender"]
male_count
#percent
male_percent = male_count/ttl_purchases*100 
round(male_percent, 2)

#* Percentage and Count of Female Players
female_count = count_gender_df.loc["Female", "Gender"]
female_count
#percent
female_percent = female_count/ttl_purchases*100 
round(female_percent, 2)

#* Percentage and Count of Other / Non-Disclosed
ND_count = count_gender_df.loc["Other / Non-Disclosed", "Gender"]
ND_count
#percent
#ND_percent = ND_count/ttl_purchases*100 
#round(ND_percent, 2)

15

In [ ]:
#***************************** look at group by lesson for this*********************************************

### Purchasing Analysis (Gender)

#* The below each broken by gender
#needs agrigit function
#grouped_gender_df = purchases_df.groupby(['Gender']).count()
#grouped_gender_df    
 # * Purchase Count

    
    
    
    
    
    
    #grouped_gender_df.count().head()

#organized_df = pokemon_df[["Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", "Speed"]]
#organized_df.head()





#purchase_gender = purchases_df["Gender", "Item Name"]
#purchase_gender


#purchase_gender_df = purchases_df["Gender", "Item Name"].to_frame()
#purchase_gender_df
 
    
    
 #* Average Purchase Price
 
    
    
    
 #* Total Purchase Value
 
    
  
 #* Average Purchase Total per Person by Gender

In [18]:
count_gender_df.loc["Other / Non-Disclosed", "Gender"]

15

In [19]:
count_gender_df

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

AttributeError: 'numpy.ndarray' object has no attribute 'to_frame'